<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.poloapps.cryptomon">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Top_100_Activity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.poloapps.com"
                    android:scheme="android-app-google-plus-demo" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CryptoSelectActivity"
            android:parentActivityName=".Top_100_Activity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".All_AlertsActivity"
            android:screenOrientation="portrait" />
        
        <service android:name=".IntentServiceCM" />
    </application>

</manifest>